.mainbox{
    background-color: white;
    width: 1920px;
    margin: 0px auto;
}
.menu{
    background: darkred;
}

.leftside{
    background-color: white;
    font-family:Tahoma, Serif;
    font-size: 15px;
    width: 560px;
    float: left;
}

.main{
    background-color: white;
    width: 800px;
    height: fit-content;
    float: left;
    font-family:Tahoma, Serif;
    font-size: 20px;
}

.rightside{
    background-color: white;
    width: 560px;
    float: left;
    font-family:Tahoma, Serif;
    font-size: 15px;
}

.footer{
    background-color: white;
    position:fixed;
    bottom:0;
    width: 1920px;
}

.menu{
    height: 40px;
    text-align: center;
}

.menu>ul>li{
    display:inline;
    padding:10px 10px 10px 10px;
    background-color: darkred;
    position: relative;
    top:8px;
    font-family:Tahoma, Serif;
    font-size: 20px;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #fff;
@media only screen and (max-width: 768px) {
    .mainbox {
        width: 8.33%;
    }

    .mainbox {
        width: 16.66%;
    }

    .mainbox {
        width: 25%;
    }

    .mainbox {
        width: 33.33%;
    }

    .mainbox {
        width: 41.66%;
    }

    .mainbox {
        width: 50%;
    }

    .mainbox {
        width: 58.33%;
    }

    .mainbox {
        width: 66.66%;
    }

    .mainbox {
        width: 75%;
    }

    .mainbox {
        width: 83.33%;
    }

    .mainbox {
        width: 91.66%;
    }

    .mainbox {
        width: 100%;
    }
}
[class*="mainbox"] {
    width: 100%;
}
[class*="mainbox"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .mainbox {width: 8.33%;}
    .mainbox {width: 16.66%;}
    .mainbox {width: 25%;}
    .mainbox {width: 33.33%;}
    .mainbox {width: 41.66%;}
    .mainbox {width: 50%;}
    .mainbox {width: 58.33%;}
    .mainbox {width: 66.66%;}
    .mainbox {width: 75%;}
    .mainbox {width: 83.33%;}
    .mainbox {width: 91.66%;}
    .mainbox {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .mainbox {width: 8.33%;}
    .mainbox {width: 16.66%;}
    .mainbox {width: 25%;}
    .mainbox {width: 33.33%;}
    .mainbox {width: 41.66%;}
    .mainbox {width: 50%;}
    .mainbox {width: 58.33%;}
    .mainbox {width: 66.66%;}
    .mainbox {width: 75%;}
    .mainbox {width: 83.33%;}
    .mainbox {width: 91.66%;}
    .mainbox {width: 100%;}
}
